---
 const personalImageAlt = "Manuel Padilla"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row text-justify">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Estudios de máster en <strong><em class="italic">Visual Analytics & Big Data + AI</em></strong>, y graduado en Ingeniería Informática con especialización en Tecnologías de la Información.
    </p>

    <p>
      <strong>Apasionado de la visualización y análisis de datos, la inteligencia artificial, y las tecnologías <em class="italic">blockchain</em> y web3</strong>. 
      Me encanta extraer información de los datos y, posteriormente, transformarla en conocimiento obteniendo valor y utilidad.
    </p>

    <p>
      <strong> Me gustaría desarrollar mi carrera profesional en un ambiente laboral dinámico y colaborativo</strong>, 
      donde pueda contribuir con mi experiencia y crecer tanto personal como profesionalmente.
    </p>
  </div>

  <img width="200" height="200" src="/foto.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 aspect-square rounded-2xl  dark:bg-blue-500/5 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

